/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json

applications/doc-viewer/vendor/
applications/doc-viewer/node_modules/
applications/doc-viewer/public/storage/
applications/doc-viewer/public/hot
applications/doc-viewer/public/build
applications/doc-viewer/public/index.html
applications/doc-viewer/public/favicon.ico
applications/doc-viewer/public/robots.txt
applications/doc-viewer/public/sitemap.xml
applications/doc-viewer/public/sitemap.xml.gz
applications/doc-viewer/public/sitemap.xml.gz.1
applications/doc-viewer/public/sitemap.xml.gz.2
applications/doc-viewer/composer.lock
applications/doc-viewer/package-lock.json